<ul class = 'recipe-list'>
	{{#each recipes}}
		<li>{{this.recipe.[0].name}}</li>
		{{#each recipe}}
			{{#each ingredients}}
				<li>{{amount}}</li>
				<li>{{ingredient}}</li>
				<li>{{instructions}}</li>
			{{/each}}
		{{/each}}
		<button class='view' data-iframeurl='{{this.recipe.[0].url}}'>View Full Instructions</button>
	{{/each}}
</ul>

