<ul class = 'recipe-list'>
	{{#each recipes}}
		<li>{{this.recipe.[0]}}</li>
		<li>{{this.recipe.[1]}}</li>
		{{#each recipe}}
			<li>{{this.ingredient}}</li>
			<li>{{this.amount}}</li>
			<li>{{this.instructions}}</li>
		{{/each}}
	{{/each}}
</ul>
